.loginpage_main{
    display:flex;
    margin: 25px;
  }
.loginpage_logo{
    width: 175px;
    margin-top: 25px;
  }

.loginpage_rightcomponent{
    height: 380px;
    width: 350px;
    border: 1px solid #dbdbdd;
    margin-top: 25px;
    text-align: center;
}
.loginPage_signin{
  margin-top: 25px;
}
.loginpage_text{
  width: 258px;
  height: 36px;
  margin: 5px;
  border: 1px solid #dbdbdd;
  background-color: #fafafa;
  padding-left: 10px;
  border-radius: 5px;
}
.login_button{
  width:270px ;
  height: 36px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #0395F6;
  background-color: #0395F6;
  color: white;
}